# -*- mode: makefile -*-

TEMPLATES = site.tmpl
SOURCE = www
OUTPUT = build-www
TITLE = TwinSpark
URL = https://piranha.github.io/twinspark-js/

*.md:
	config
	ext .html
	directorify
	inner-template
	markdown chroma=emacs
	template page

*.html:
	config
	directorify
	inner-template
	chroma emacs
	template page


static/twinspark.js:
	:cat # this overrides it being a symlink
