title: Examples
----

<p>
  This are all examples collected in a single page, they are also present on
  respective <a href="{{ $.Rel "api" }}">directive pages</a>. This page is used
  mostly for CI.
</p>

<h2>Tests</h2>
<p>
  This document has tests embedded in examples, to run them, press:
  <button class="btn" onclick="window.dispatchEvent(new CustomEvent('run-tests'))">Run tests</button>
</p>
<div id="tinytest"></div>


<h2>Examples</h2>

{{ range .Site.Pages.Children "examples/" | abcsort }}
  <h3 id="{{ .Other.Id }}">
    <a href="{{ $.Rel .Url }}">{{ .Title }}</a>
    {{ if .Has "Tag" "advanced" }}<small class="text-muted">(advanced)</small>{{ end }}
    <a href="#{{ .Other.Id }}">#</a>
  </h3>
  {{ .Raw }}
{{ end }}
